@import 'init';
@import 'skeleton';

.text-center {
  text-align: center;
}

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

.Header {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #aaa;
  box-shadow: 1px 1px 1px 1px #ddd;
}

.Header h1 {
  margin: 0;
}

.nav-list {
  list-style: none;
  padding: 0 20px;
}

img {
  box-shadow: 0px 0px 1px 1px #aaa;
}
